body{
    background-color: aquamarine;
    height: 500px;
    width: 500px;
    margin: 0;
    max-width: 550px;
    max-height: 550px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    justify-items: center;
    align-items: center;
    display: flex;
}
.container{
    background-color: aqua;
    border: 2px solid white;
    min-width: 200px;
    height: 450px;
    padding: 20px 20px;
    margin: 50px;
    text-align: center;
    box-sizing: border-box;
    max-width: 500px;
    max-height: 500px;
    min-height: 200px;
    width: 450px;
    color: #4B0082;
}
.back{
    text-decoration: none;
}
.back:hover{
    color: #4B0082;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    border-radius: 15% solid #4B0082;
}
.tag{
    text-transform: uppercase;
}
button{
    color: #4B0082;
    border: 1px solid white;
}
button:hover{
    color: #4B0082;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    border-radius: 15% solid #4B0082;
  }
#header{
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}
input{
    color: #4B0082;
    text-emphasis: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15% solid #4B0082;
}
input:hover{
    color: #4B0082;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    border-radius: 15% solid #4B0082;
}

